Slide 2

In [1]:
# Simultaneous assignments
age, name, primes = (23, 'Kamal', [2, 3, 5])

print("Age:", age)
print("Name:", name)
print("Primes:", primes)

Age: 23
Name: Kamal
Primes: [2, 3, 5]

In [2]:
# Assigning tuples
point = (3.5, 4.8)
date = (16, 7, 2013)

print("Point:", point)
print("Date:", date)

Point: (3.5, 4.8)
Date: (16, 7, 2013)

In [3]:
# Extract positions, slices
xcoordinate = point[0]  # Get first element
monthyear = date[1:]    # Get elements from second to end

print("X-coordinate:", xcoordinate)
print("Month and Year:", monthyear)

X-coordinate: 3.5
Month and Year: (7, 2013)

In [4]:
# Tuples are immutable
try:
    date[1] = 8  # This will raise an error
except TypeError as e:
    print("Error:", e)

Error: 'tuple' object does not support item assignment

Slide 4

In [5]:
# Example: Keys can be strings
test1 = {}
test1['Harry'] = 84
test1['Messi'] = 16
test1['Ronaldo'] = 200

print("Harry's score:", test1['Harry'])
print("Messi's score:", test1['Messi'])
print("Ronaldo's score:", test1['Ronaldo'])

Harry's score: 84
Messi's score: 16
Ronaldo's score: 200

In [6]:
# Create an empty dictionary
empty_dict = {}
print("Empty dictionary:", empty_dict)

Empty dictionary: {}

Slide 5

In [7]:
# Nested dictionary
score = {
    'Test1': {'Dhawan': 84, 'Kohli': 200},
    'Test2': {'Dhawan': 50}
}

# Accessing nested values
print("Dhawan's score in Test1:", score['Test1']['Dhawan'])
print("Kohli's score in Test1:", score['Test1']['Kohli'])
print("Dhawan's score in Test2:", score['Test2']['Dhawan'])

Dhawan's score in Test1: 84
Kohli's score in Test1: 200
Dhawan's score in Test2: 50

Slide 6

In [13]:
# Example Dictionary
d = {
    'apple': 3,
    'cherry': 2,
    'banana': 5,

}

# 1. Retrieve keys using d.keys()
keys = d.keys()
print("Keys from d.keys():", keys)

# Convert keys to a list
keys_list = list(keys)
print("Keys as a List:", keys_list)

Keys from d.keys(): dict_keys(['apple', 'cherry', 'banana'])
Keys as a List: ['apple', 'cherry', 'banana']

In [14]:
# 2. Loop through keys (unordered)
print("Unordered Key-Value Pairs:")
for k in d.keys():
    print(f"{k}: {d[k]}")

Unordered Key-Value Pairs:
apple: 3
cherry: 2
banana: 5

In [15]:
# 3. Loop through sorted keys (ordered)
print("Ordered Key-Value Pairs:")
for k in sorted(d.keys()):
    print(f"{k}: {d[k]}")

Ordered Key-Value Pairs:
apple: 3
banana: 5
cherry: 2

In [16]:
# 4. List conversion
keys_as_list = list(d.keys())
print("Keys as List:", keys_as_list)

# Sorted keys
sorted_keys_as_list = sorted(d.keys())
print("Sorted Keys as List:", sorted_keys_as_list)

Keys as List: ['apple', 'cherry', 'banana']
Sorted Keys as List: ['apple', 'banana', 'cherry']

Slide 7

In [17]:
# Example dictionary
test1 = {
    'Harry': 84,
    'Messi': 16,
    'Ronaldo': 200
}

# Retrieve values and calculate total
total = 0
for s in test1.values():
    total = total + s

print("Total of all values:", total)

Total of all values: 300

In [18]:
# Test for key membership
if 'Messi' in test1.keys():
    print("Messi is in the dictionary.")
else:
    print("Messi is not in the dictionary.")

Messi is in the dictionary.

In [19]:
# Simplified key membership check
if 'Messi' in test1:
    print("Messi is in the dictionary.")
else:
    print("Messi is not in the dictionary.")

Messi is in the dictionary.

Slide 8

In [20]:
# Create an empty dictionary
d = {}

# Insert value for key 0
d[0] = 7  # No problem

print("Dictionary:", d)

Dictionary: {0: 7}

In [21]:
# Create an empty list
l = []

# Try inserting value at index 0 directly
try:
    l[0] = 7  # IndexError
except IndexError as e:
    print("Error:", e)

Error: list assignment index out of range