Print Numbers from 1 to 10

In [1]:
for i in range(1, 11):
 print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

Print Even Numbers from 1 to 20

In [2]:
# Printing even numbers from 1 to 20
num = 1
while num <= 20:
 if num % 2 == 0:
  print(num, end=" ")
 num += 1

2 4 6 8 10 12 14 16 18 20

Calculate the Sum of the First 10 Natural Numbers

In [7]:
# Calculating sum of first 10 natural numbers
total = 0
for i in range(1, 11):
 total += i # total = total + i
print("Sum:", total)

Sum: 55

Reverse Counting from 10 to 1

In [4]:
# Reverse counting from 10 to 1
for i in range(10, 0, -1):
 print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

Print Elements of a List

In [5]:
# Printing elements of a list
my_list = [5, 10, 15, 20, 25]
for element in my_list:
 print(element, end=" ")

5 10 15 20 25

Find the First Occurrence of an Element in a List

In [8]:
def findpos(l, v):
 for i in range(len(l)):
  if l[i] == v:
   return i
 return -1
my_list = [3, 5, 7, 2, 5, 7]
value = 5
pos = findpos(my_list, value)
print(f"First occurrence of {value} is at index {pos}")

First occurrence of 5 is at index 1

Use `break` to Stop the Loop Early

In [15]:
numbers = [1, 3, 5, 7, 9, 11]
target = 7
for num in numbers:
 if num == target:
  print("Number found:", num)
 break

In [16]:
numbers = [1, 3, 5, 7, 9, 11]
target = 7
for num in numbers:
 if num == target:
  print("Number found:", num)
  break

Number found: 7

Use `continue` to Skip Even Numbers

In [17]:
for i in range(1, 11):
 if i % 2 == 0:
  continue
 print(i, end=" ")

1 3 5 7 9

Use `else` with a `for` Loop

In [19]:
numbers = [2, 4, 6, 8]
target = 5
for num in numbers:
 if num == target:
  print("Value found:", num)
 break
else:
  print("Value not found")

In [20]:
numbers = [2, 4, 6, 8]
target = 5
for num in numbers:
 if num == target:
  print("Value found:", num)
  break
else:
  print("Value not found")

Value not found

Implement a Basic Linear Search

In [22]:
def linear_search(arr, target):
 for i in range(len(arr)):
  if arr[i] == target:
   return i
 return -1
arr = [34, 12, 5, 78, 90]
target = 78
result = linear_search(arr, target)
if result != -1:
 print(f"Element {target} found at index {result}")
else:
 print(f"Element {target} not found")

Element 78 found at index 3