Write a Python program to double each number in a list using list comprehension.

In [1]:
# Given list
numbers = [1, 2, 3, 4, 5]

# Use list comprehension to double each element
doubled_numbers = [x * 2 for x in numbers]

# Print the result
print("Doubled numbers:", doubled_numbers)

Doubled numbers: [2, 4, 6, 8, 10]

Breakdown:
x * 2 → This is the operation applied to each element x in numbers.
for x in numbers → This iterates over each element in numbers.

In [2]:
numbers = [1, 2, 3, 4, 5]  # Example list
result = []  # Empty list to store results

for x in numbers:  # Iterate through each element in numbers
    result.append(x * 2)  # Multiply by 2 and add to result list

print(result)

[2, 4, 6, 8, 10]

Write a Python program to compute the square of each number in a list using list comprehension.

In [3]:
# Given list
numbers = [1, 2, 3, 4, 5]

# Use list comprehension to compute squares
squared_numbers = [x ** 2 for x in numbers]

# Print the result
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25]

Using for loop

In [4]:
# Given list
numbers = [1, 2, 3, 4, 5]

# Initialize an empty list to store squared numbers
squared_numbers = []

# Iterate through each number and compute its square
for x in numbers:
    squared_numbers.append(x ** 2)

# Print the result
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25]

Using while loop

In [5]:
# Given list
numbers = [1, 2, 3, 4, 5]

# Initialize an empty list to store squared numbers
squared_numbers = []

# Initialize index
i = 0

# Iterate using a while loop
while i < len(numbers):
    squared_numbers.append(numbers[i] ** 2)  # Compute square and append to the list
    i += 1  # Increment index

# Print the result
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25]

Write a Python program to extract prime numbers from a list using list comprehension.

In [8]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):  # Check divisibility from 2 to n-1
        if n % i == 0:
            return False
    return True

numbers = [2, 10, 15, 3, 5, 7, 12, 19, 23, 30]

prime_numbers = []  # List to store prime numbers

# Using a for loop instead of list comprehension
for x in numbers:
    if is_prime(x):
        prime_numbers.append(x)

print("Prime numbers:", prime_numbers)

Prime numbers: [2, 3, 5, 7, 19, 23]

In [10]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n):  # Check divisibility from 2 to n-1
        if n % i == 0:
            return False
    return True

numbers = [2, 10, 15, 3, 5, 7, 12, 19, 23, 30]

prime_numbers = []  # List to store prime numbers

# Using a for loop instead of list comprehension
prime_numbers = [x for x in numbers if is_prime(x)]

print("Prime numbers:", prime_numbers)

Prime numbers: [2, 3, 5, 7, 19, 23]

Breakdown:
* x for x in numbers → Iterates through each element x in numbers.
* if is_prime(x) → Only includes x in the new list if is_prime(x) returns True.

Write a Python program to create a list of squares of even numbers from 1 to 10 using list comprehension.

In [11]:
# Use list comprehension to get squares of even numbers
squares_of_even = [x ** 2 for x in range(1, 11) if x % 2 == 0]

# Print the result
print("Squares of even numbers:", squares_of_even)

Squares of even numbers: [4, 16, 36, 64, 100]

In [12]:
# Initialize an empty list to store squares of even numbers
squares_of_even = []

# Iterate through numbers from 1 to 10
for x in range(1, 11):
    if x % 2 == 0:  # Check if the number is even
        squares_of_even.append(x ** 2)  # Compute square and append to the list

# Print the result
print("Squares of even numbers:", squares_of_even)

Squares of even numbers: [4, 16, 36, 64, 100]

In [13]:
# Initialize an empty list to store squares of even numbers
squares_of_even = []

# Initialize a variable for iteration
x = 1

# Iterate using while loop
while x <= 10:
    if x % 2 == 0:  # Check if the number is even
        squares_of_even.append(x ** 2)  # Compute square and append to the list
    x += 1  # Increment the counter

# Print the result
print("Squares of even numbers:", squares_of_even)

Squares of even numbers: [4, 16, 36, 64, 100]

Write a Python program to find Pythagorean triples for numbers less than 20 using list comprehension.

In [14]:
# Use list comprehension to find Pythagorean triples
pythagorean_triples = [(x, y, z) for x in range(1, 20)
                        for y in range(x, 20)  # Ensuring y >= x
                        for z in range(y, 20)  # Ensuring z >= y
                        if x**2 + y**2 == z**2]

# Print the result
print("Pythagorean triples below 20:", pythagorean_triples)

Pythagorean triples below 20: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

In [15]:
# Initialize an empty list to store Pythagorean triples
pythagorean_triples = []

# Iterate through possible values of x, y, and z
for x in range(1, 20):
    for y in range(x, 20):  # Ensuring y >= x
        for z in range(y, 20):  # Ensuring z >= y
            if x**2 + y**2 == z**2:  # Check if it forms a Pythagorean triple
                pythagorean_triples.append((x, y, z))

# Print the result
print("Pythagorean triples below 20:", pythagorean_triples)

Pythagorean triples below 20: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

Write a Python program to initialize a 4×3 matrix (4 rows, 3 columns) with zeros using loops and print it.

In [16]:
# Initialize a 4x3 matrix with zeros
matrix = []

for j in range(4):  # 4 rows
    row = []
    for i in range(3):  # 3 columns
        row.append(0)  # Add 0 to each column
    matrix.append(row)  # Append row to the matrix

# Print the matrix
print("4x3 Matrix initialized with zeros:")
for row in matrix:
    print(row)

4x3 Matrix initialized with zeros:
[0, 0, 0]
[0, 0, 0]
[0, 0, 0]
[0, 0, 0]

This Python code initializes a 4×3 matrix filled with zeros using nested loops and then prints the matrix. It starts by defining an empty list called matrix, which will store the rows of the matrix. The outer loop runs four times (for j in range(4)), corresponding to the four rows in the matrix. Inside this loop, an empty list row is created to store the values for each row. Then, a nested inner loop runs three times (for i in range(3)), corresponding to the three columns in each row. During each iteration of the inner loop, a 0 is appended to row, effectively filling each row with three zeros. Once the inner loop completes, the fully formed row [0, 0, 0] is appended to matrix. This process repeats four times, resulting in a 4x3 matrix filled with zeros. After constructing the matrix, the code prints the message "4x3 Matrix initialized with zeros:" followed by a loop that iterates through each row in matrix, printing the row. The final output displays four rows, each containing three zeros, forming a complete 4x3 zero matrix.

More In-built functions of lists

In [17]:
# Given 3x3 matrix
matrix = [
    [2, 4, 6],
    [1, 3, 5],
    [7, 8, 9]
]

# Compute sum of each row
print("Row sums:")
for row in matrix:
    print(sum(row))

Row sums:
12
9
24

In [18]:
# Given 3x3 matrix
matrix = [
    [10, 25, 8],
    [15, 30, 20],
    [5, 12, 50]
]

# Find the maximum value in the matrix
max_value = max(max(row) for row in matrix)

# Print the result
print("Maximum value in the matrix:", max_value)

Maximum value in the matrix: 50

In [20]:
# Sample list
numbers = [10, 5, 8, 20, 15, 5, 30, 8]
print("Original List:", numbers)

# Using various inbuilt list functions
numbers.append(25)
print("After append(25):", numbers)  # Adds 25 to the end of the list

numbers.insert(2, 12)
print("After insert(2, 12):", numbers)  # Inserts 12 at index 2

numbers.remove(5)
print("After remove(5):", numbers)  # Removes the first occurrence of 5

popped_value = numbers.pop()
print("After pop():", numbers, "| Popped Value:", popped_value)  # Removes and returns the last element

index_of_15 = numbers.index(15)
print("Index of 15:", index_of_15)  # Finds the index of the first occurrence of 15

count_of_8 = numbers.count(8)
print("Count of 8:", count_of_8)  # Counts occurrences of 8

numbers.sort()
print("After sort():", numbers)  # Sorts the list in ascending order

numbers.reverse()
print("After reverse():", numbers)  # Reverses the list order

copied_list = numbers.copy()
print("Copied List:", copied_list)  # Creates a copy of the list

numbers.clear()
print("After clear():", numbers)  # Clears the list (should be empty)

Original List: [10, 5, 8, 20, 15, 5, 30, 8]
After append(25): [10, 5, 8, 20, 15, 5, 30, 8, 25]
After insert(2, 12): [10, 5, 12, 8, 20, 15, 5, 30, 8, 25]
After remove(5): [10, 12, 8, 20, 15, 5, 30, 8, 25]
After pop(): [10, 12, 8, 20, 15, 5, 30, 8] | Popped Value: 25
Index of 15: 4
Count of 8: 2
After sort(): [5, 8, 8, 10, 12, 15, 20, 30]
After reverse(): [30, 20, 15, 12, 10, 8, 8, 5]
Copied List: [30, 20, 15, 12, 10, 8, 8, 5]
After clear(): []