1. Lists are Mutable

In [1]:
list1 = [1, 3, 5, 6]
list2 = list1  # list2 references the same object
list1[2] = 7  # Modify list1
print("list1:", list1)
print("list2:", list2)  # list2 also changes because both reference the same list

list1: [1, 3, 7, 6]
list2: [1, 3, 7, 6]

2. List Concatenation Produces a New List

In [2]:
list1 = [1, 3, 5, 6]
list2 = list1  # list2 references list1
list1 = list1[0:2] + [7] + list1[3:]  # Creates a new list
print("list1:", list1)
print("list2:", list2)  # list2 remains unchanged

list1: [1, 3, 7, 6]
list2: [1, 3, 5, 6]

3. Extending a List In-Place

In [3]:
list1 = [1, 3, 5, 6]
list2 = list1
list1.append(12)  # Modify in place
print("list1:", list1)
print("list2:", list2)  # list2 also changes

list1: [1, 3, 5, 6, 12]
list2: [1, 3, 5, 6, 12]

4. List Concatenation Creates a New List

In [4]:
list1 = [1, 3, 5, 6]
list2 = list1
list1 = list1 + [12]  # Creates a new list
print("list1:", list1)
print("list2:", list2)  # list2 remains unchanged

list1: [1, 3, 5, 6, 12]
list2: [1, 3, 5, 6]

5. List Functions

In [5]:
list1 = [1, 3, 5, 6]
list1.append(8)  # Add a single value
print("After append:", list1)

list1.extend([10, 12])  # Extend list by multiple values
print("After extend:", list1)

list1.remove(3)  # Remove first occurrence of 3
print("After remove:", list1)

After append: [1, 3, 5, 6, 8]
After extend: [1, 3, 5, 6, 8, 10, 12]
After remove: [1, 5, 6, 8, 10, 12]

6. Assigning to a Slice

In [6]:
list1 = [1, 3, 5, 6]
list2 = list1
list1[2:] = [7, 8]  # Modify slice in place
print("list1:", list1)
print("list2:", list2)  # list2 also changes

list1: [1, 3, 7, 8]
list2: [1, 3, 7, 8]

7. List Membership

In [7]:
l = [1, 2, 3, 4, 5]
x = 3

if x in l:
    l.remove(x)  # Remove first occurrence of x
print("After single remove:", l)

while x in l:
    l.remove(x)  # Remove all occurrences of x
print("After all removes:", l)

After single remove: [1, 2, 4, 5]
After all removes: [1, 2, 4, 5]

8. Other List Functions

In [8]:
l = [4, 2, 9, 1]
l.reverse()
print("Reversed:", l)

l.sort()
print("Sorted:", l)

index = l.index(2) if 2 in l else None
print("Index of 2:", index)

Reversed: [1, 9, 2, 4]
Sorted: [1, 2, 4, 9]
Index of 2: 1

10. Initializing Lists in Functions

In [10]:
def factors(n):
    flist = []
    for i in range(1, n + 1):
        if n % i == 0:
            flist.append(i)
    return flist

print("Factors of 12:", factors(12))

Factors of 12: [1, 2, 3, 4, 6, 12]

11. Summary

In [11]:
l = [1, 2, 3]
l.append(4)  # Extending in place
print("Append:", l)

l.extend([5, 6])
print("Extend:", l)

l[2:] = [9, 10]  # Assigning to a slice
print("Slice update:", l)

Append: [1, 2, 3, 4]
Extend: [1, 2, 3, 4, 5, 6]
Slice update: [1, 2, 9, 10]