Basic While Loop

In [3]:
# A while loop will execute a block of code when a condition is True
value = 1
while value < 10:
  print(value)
  value += 1

1
2
3
4
5
6
7
8
9

Break Statements

In [5]:
value = 1
while value < 10:
  print(value)
  if value == 5:
    break
  value += 1

1
2
3
4
5

Continue Statements

In [1]:
value = 1
while value <= 10:
  value += 1
  if value == 5:
    continue # Stops the execution of the current loop and go to the next loop
  print(value)

2
3
4
6
7
8
9
10
11

Else Statements

In [11]:
value = 1
while value <= 10:
  value += 1
  if value == 5:
    continue # Stops the execution of the current loop and go to the next loop
  print(value)
else:
  print("Value is now equal to " + str(value))

2
3
4
6
7
8
9
10
11
Value is now equal to 11

Basic For Loop

In [2]:
# A for loop iterates over a sequence
names = ["Dave", "Sara", "John"]
for x in names:
  print(x)

Dave
Sara
John

Looping through a string

In [3]:
for x in "Mississippi":
  print(x)

M
i
s
s
i
s
s
i
p
p
i

For loop with a break

In [4]:
for x in names:
  if x == "Sara":
    break
  print(x)

Dave

For loop with continue

In [5]:
for x in names:
  if x == "Sara":
    continue
  print(x)

Dave
John

Looping through range of numbers

In [6]:
for x in range(4):
  print(x)

0
1
2
3

Range start and end

In [7]:
for x in range(2,4):
  print(x)

2
3

Range Increment Values

In [8]:
for x in range(0,100,5):
  print(x)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [9]:
for x in range(0,101,5):
  print(x)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

For Loop with Else

In [10]:
for x in range(0,100,5):
  print(x)
else:
  print("Glad that\'s over!")

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
Glad that's over!

Nested Loops

In [11]:
names = ["Dave", "Sara", "John"]
actions = ["codes", "eats", "sleeps"]

for name in names:
  for action in actions:
    print(name + " " + action + ".")

Dave codes.
Dave eats.
Dave sleeps.
Sara codes.
Sara eats.
Sara sleeps.
John codes.
John eats.
John sleeps.

In [13]:
names = ["Dave", "Sara", "John"]
actions = ["codes", "eats", "sleeps"]

for action in actions: # Whatever is on the outside is what happens and it loops through whatever is on the inside
  for name in names:
    print(name + " " + action + ".")

Dave codes.
Sara codes.
John codes.
Dave eats.
Sara eats.
John eats.
Dave sleeps.
Sara sleeps.
John sleeps.