Slide 2

Example 1: Basic range(i, j)

In [1]:
for num in range(2, 6):
    print(num)

2
3
4
5

Example 2: range(j) (Starts from 0)

In [2]:
for num in range(5):
    print(num)

0
1
2
3
4

Example 3: range(i, j, k) (Increment by k)

In [3]:
for num in range(1, 10, 2):
    print(num)

1
3
5
7
9

Example 4: Countdown using range(i, j, -1)

In [4]:
for num in range(5, 0, -1):
    print(num)

5
4
3
2
1

Slide 3

**Example 1: range(i, j, k) with Positive Step (k > 0):**
Rule: If i >= j, the sequence is empty

In [5]:
for num in range(5, 15, 3):
    print(num)
    #  Starts from 2 and stops before 10, incrementing by 2.

5
8
11
14

Example 2: k is positive, i >= j (Empty sequence)

In [6]:
for num in range(10, 2, 2):
    print(num) # Since 10 >= 2 and k = 2, the sequence is empty.

Example 3: k is negative, i > j (Counting down)

In [7]:
for num in range(12, 1, -3):
    print(num) # Starts from 12 and decrements by 3, stopping before 1.

12
9
6
3

Example 4: k is negative, i <= j (Empty sequence)

In [8]:
for num in range(3, 10, -2):
    print(num) # Since 3 <= 10 and k = -2, the sequence is empty.

Example 5: k is negative, stopping before j

In [9]:
for num in range(20, 5, -4):
    print(num) # Starts from 20, decrements by 4, stops before 5.

20
16
12
8