Operations on lists

In [2]:
# Define a function to double the values
def double(x):
    return x * 2

# Function to apply f to each element in the list
def applylist(f, l):
    for i in range(len(l)):
        l[i] = f(l[i])

# Example usage
l = [1, 2, 3, 4]
applylist(double, l)  # Apply the function to the list
print(l)  # Output: [2, 4, 6, 8]

[2, 4, 6, 8]

In [3]:
# Define a function to square the values
def square(x):
    return x ** 2

# Function to return a new list with f applied to each element
def applylist(f, l):
    return [f(x) for x in l]

# Here, f(x) is any function that takes x as input and returns a transformed value.
# This is done for each element in l using list comprehension.

# Example usage
l = [1, 2, 3, 4]
new_l = applylist(square, l)  # Apply the function to get a new list
print(new_l)

[1, 4, 9, 16]

map() function

In [4]:
# Define a function to double the values
def double(x):
    return x * 2

# Example list
l = [1, 2, 3, 4]

# Apply the function using map and convert to a list
new_l = list(map(double, l))

print(new_l)  # Output: [2, 4, 6, 8]

[2, 4, 6, 8]

In [5]:
# Define a function to square the values
def square(x):
    return x ** 2

# Example list
l = [1, 2, 3, 4]

# Using map() in a for loop
for i in map(square, l):
    print(i)  # Output: 1, 4, 9, 16 (printed line by line)

1
4
9
16

Selecting a sublist

In [18]:
# Function to check if a number is prime
def isprime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

# List of numbers
numberlist = [10, 15, 3, 5, 7, 12, 19, 23, 30]

# Extract prime numbers (simplified)
primelist = []
for i in numberlist:
    if isprime(i):
        primelist.append(i)

# Print result
print("Prime numbers:", primelist)

Prime numbers: [3, 5, 7, 19, 23]

In [19]:
# Function to check if a number is prime
def isprime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

# List of numbers
numberlist = [10, 15, 3, 5, 7, 12, 19, 23, 30]

# Extract prime numbers
primelist = [i for i in numberlist if isprime(i)] # This line creates a list primelist by iterating over numberlist and including only the elements for which isprime(i) returns True

# Print result
print("Prime numbers:", primelist)

Prime numbers: [3, 5, 7, 19, 23]

In [7]:
# Function that checks if a number is even
def is_even(n):
    return n % 2 == 0  # Returns True if n is even, False otherwise

# General function to select elements based on a property
def select(property, l):
    sublist = []
    for x in l:
        if property(x):  # Check if the element satisfies the condition
            sublist.append(x)
    return sublist

# Example list
numbers = [10, 15, 3, 5, 8, 12, 19, 24, 30]

# Select only even numbers
even_numbers = select(is_even, numbers)

# Print result
print("Even numbers:", even_numbers)

Even numbers: [10, 8, 12, 24, 30]

filter() function

In [8]:
# Function to check if a number is even
def is_even(n):
    return n % 2 == 0

# List of numbers
numbers = [10, 15, 3, 5, 8, 12, 19, 24, 30]

# Using filter() to get only even numbers
even_numbers = list(filter(is_even, numbers))

# Print result
print("Even numbers:", even_numbers)

Even numbers: [10, 8, 12, 24, 30]

Combining maps and filters

In [10]:
# Function to return the square of a number
def square(x):
    return x * x

# Function to check if a number is even
def iseven(x):
    return x % 2 == 0

# Using filter() to select even numbers, then map() to square them
result = list(map(square, filter(iseven, range(10))))

# Print the result
print("Squares of even numbers from 0 to 99:", result)

Squares of even numbers from 0 to 99: [0, 4, 16, 36, 64]

List Comprehension: Pythagorean Example

In [13]:
pythagorean_triples = [(x, y, z) for x in range(100)
                        for y in range(100)
                        for z in range(100)
                        if x * x + y * y == z * z]

print("Pythagorean triples below 100:", pythagorean_triples)

Pythagorean triples below 100: [(0, 0, 0), (0, 1, 1), (0, 2, 2), (0, 3, 3), (0, 4, 4), (0, 5, 5), (0, 6, 6), (0, 7, 7), (0, 8, 8), (0, 9, 9), (0, 10, 10), (0, 11, 11), (0, 12, 12), (0, 13, 13), (0, 14, 14), (0, 15, 15), (0, 16, 16), (0, 17, 17), (0, 18, 18), (0, 19, 19), (0, 20, 20), (0, 21, 21), (0, 22, 22), (0, 23, 23), (0, 24, 24), (0, 25, 25), (0, 26, 26), (0, 27, 27), (0, 28, 28), (0, 29, 29), (0, 30, 30), (0, 31, 31), (0, 32, 32), (0, 33, 33), (0, 34, 34), (0, 35, 35), (0, 36, 36), (0, 37, 37), (0, 38, 38), (0, 39, 39), (0, 40, 40), (0, 41, 41), (0, 42, 42), (0, 43, 43), (0, 44, 44), (0, 45, 45), (0, 46, 46), (0, 47, 47), (0, 48, 48), (0, 49, 49), (0, 50, 50), (0, 51, 51), (0, 52, 52), (0, 53, 53), (0, 54, 54), (0, 55, 55), (0, 56, 56), (0, 57, 57), (0, 58, 58), (0, 59, 59), (0, 60, 60), (0, 61, 61), (0, 62, 62), (0, 63, 63), (0, 64, 64), (0, 65, 65), (0, 66, 66), (0, 67, 67), (0, 68, 68), (0, 69, 69), (0, 70, 70), (0, 71, 71), (0, 72, 72), (0, 73, 73), (0, 74, 74), (0, 75, 75), (0, 76, 76), (0, 77, 77), (0, 78, 78), (0, 79, 79), (0, 80, 80), (0, 81, 81), (0, 82, 82), (0, 83, 83), (0, 84, 84), (0, 85, 85), (0, 86, 86), (0, 87, 87), (0, 88, 88), (0, 89, 89), (0, 90, 90), (0, 91, 91), (0, 92, 92), (0, 93, 93), (0, 94, 94), (0, 95, 95), (0, 96, 96), (0, 97, 97), (0, 98, 98), (0, 99, 99), (1, 0, 1), (2, 0, 2), (3, 0, 3), (3, 4, 5), (4, 0, 4), (4, 3, 5), (5, 0, 5), (5, 12, 13), (6, 0, 6), (6, 8, 10), (7, 0, 7), (7, 24, 25), (8, 0, 8), (8, 6, 10), (8, 15, 17), (9, 0, 9), (9, 12, 15), (9, 40, 41), (10, 0, 10), (10, 24, 26), (11, 0, 11), (11, 60, 61), (12, 0, 12), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 0, 13), (13, 84, 85), (14, 0, 14), (14, 48, 50), (15, 0, 15), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 0, 16), (16, 12, 20), (16, 30, 34), (16, 63, 65), (17, 0, 17), (18, 0, 18), (18, 24, 30), (18, 80, 82), (19, 0, 19), (20, 0, 20), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 0, 21), (21, 20, 29), (21, 28, 35), (21, 72, 75), (22, 0, 22), (23, 0, 23), (24, 0, 24), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 0, 25), (25, 60, 65), (26, 0, 26), (27, 0, 27), (27, 36, 45), (28, 0, 28), (28, 21, 35), (28, 45, 53), (29, 0, 29), (30, 0, 30), (30, 16, 34), (30, 40, 50), (30, 72, 78), (31, 0, 31), (32, 0, 32), (32, 24, 40), (32, 60, 68), (33, 0, 33), (33, 44, 55), (33, 56, 65), (34, 0, 34), (35, 0, 35), (35, 12, 37), (35, 84, 91), (36, 0, 36), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (37, 0, 37), (38, 0, 38), (39, 0, 39), (39, 52, 65), (39, 80, 89), (40, 0, 40), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (41, 0, 41), (42, 0, 42), (42, 40, 58), (42, 56, 70), (43, 0, 43), (44, 0, 44), (44, 33, 55), (45, 0, 45), (45, 24, 51), (45, 28, 53), (45, 60, 75), (46, 0, 46), (47, 0, 47), (48, 0, 48), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (49, 0, 49), (50, 0, 50), (51, 0, 51), (51, 68, 85), (52, 0, 52), (52, 39, 65), (53, 0, 53), (54, 0, 54), (54, 72, 90), (55, 0, 55), (55, 48, 73), (56, 0, 56), (56, 33, 65), (56, 42, 70), (57, 0, 57), (57, 76, 95), (58, 0, 58), (59, 0, 59), (60, 0, 60), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (61, 0, 61), (62, 0, 62), (63, 0, 63), (63, 16, 65), (63, 60, 87), (64, 0, 64), (64, 48, 80), (65, 0, 65), (65, 72, 97), (66, 0, 66), (67, 0, 67), (68, 0, 68), (68, 51, 85), (69, 0, 69), (70, 0, 70), (70, 24, 74), (71, 0, 71), (72, 0, 72), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (73, 0, 73), (74, 0, 74), (75, 0, 75), (75, 40, 85), (76, 0, 76), (76, 57, 95), (77, 0, 77), (77, 36, 85), (78, 0, 78), (79, 0, 79), (80, 0, 80), (80, 18, 82), (80, 39, 89), (81, 0, 81), (82, 0, 82), (83, 0, 83), (84, 0, 84), (84, 13, 85), (84, 35, 91), (85, 0, 85), (86, 0, 86), (87, 0, 87), (88, 0, 88), (89, 0, 89), (90, 0, 90), (91, 0, 91), (92, 0, 92), (93, 0, 93), (94, 0, 94), (95, 0, 95), (96, 0, 96), (97, 0, 97), (98, 0, 98), (99, 0, 99)]

In [14]:
pythagorean_triples = []

for x in range(100):
    for y in range(100):
        for z in range(100):
            if x * x + y * y == z * z:
                pythagorean_triples.append((x, y, z))

print("Pythagorean triples below 100:", pythagorean_triples)

Pythagorean triples below 100: [(0, 0, 0), (0, 1, 1), (0, 2, 2), (0, 3, 3), (0, 4, 4), (0, 5, 5), (0, 6, 6), (0, 7, 7), (0, 8, 8), (0, 9, 9), (0, 10, 10), (0, 11, 11), (0, 12, 12), (0, 13, 13), (0, 14, 14), (0, 15, 15), (0, 16, 16), (0, 17, 17), (0, 18, 18), (0, 19, 19), (0, 20, 20), (0, 21, 21), (0, 22, 22), (0, 23, 23), (0, 24, 24), (0, 25, 25), (0, 26, 26), (0, 27, 27), (0, 28, 28), (0, 29, 29), (0, 30, 30), (0, 31, 31), (0, 32, 32), (0, 33, 33), (0, 34, 34), (0, 35, 35), (0, 36, 36), (0, 37, 37), (0, 38, 38), (0, 39, 39), (0, 40, 40), (0, 41, 41), (0, 42, 42), (0, 43, 43), (0, 44, 44), (0, 45, 45), (0, 46, 46), (0, 47, 47), (0, 48, 48), (0, 49, 49), (0, 50, 50), (0, 51, 51), (0, 52, 52), (0, 53, 53), (0, 54, 54), (0, 55, 55), (0, 56, 56), (0, 57, 57), (0, 58, 58), (0, 59, 59), (0, 60, 60), (0, 61, 61), (0, 62, 62), (0, 63, 63), (0, 64, 64), (0, 65, 65), (0, 66, 66), (0, 67, 67), (0, 68, 68), (0, 69, 69), (0, 70, 70), (0, 71, 71), (0, 72, 72), (0, 73, 73), (0, 74, 74), (0, 75, 75), (0, 76, 76), (0, 77, 77), (0, 78, 78), (0, 79, 79), (0, 80, 80), (0, 81, 81), (0, 82, 82), (0, 83, 83), (0, 84, 84), (0, 85, 85), (0, 86, 86), (0, 87, 87), (0, 88, 88), (0, 89, 89), (0, 90, 90), (0, 91, 91), (0, 92, 92), (0, 93, 93), (0, 94, 94), (0, 95, 95), (0, 96, 96), (0, 97, 97), (0, 98, 98), (0, 99, 99), (1, 0, 1), (2, 0, 2), (3, 0, 3), (3, 4, 5), (4, 0, 4), (4, 3, 5), (5, 0, 5), (5, 12, 13), (6, 0, 6), (6, 8, 10), (7, 0, 7), (7, 24, 25), (8, 0, 8), (8, 6, 10), (8, 15, 17), (9, 0, 9), (9, 12, 15), (9, 40, 41), (10, 0, 10), (10, 24, 26), (11, 0, 11), (11, 60, 61), (12, 0, 12), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 0, 13), (13, 84, 85), (14, 0, 14), (14, 48, 50), (15, 0, 15), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 0, 16), (16, 12, 20), (16, 30, 34), (16, 63, 65), (17, 0, 17), (18, 0, 18), (18, 24, 30), (18, 80, 82), (19, 0, 19), (20, 0, 20), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 0, 21), (21, 20, 29), (21, 28, 35), (21, 72, 75), (22, 0, 22), (23, 0, 23), (24, 0, 24), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 0, 25), (25, 60, 65), (26, 0, 26), (27, 0, 27), (27, 36, 45), (28, 0, 28), (28, 21, 35), (28, 45, 53), (29, 0, 29), (30, 0, 30), (30, 16, 34), (30, 40, 50), (30, 72, 78), (31, 0, 31), (32, 0, 32), (32, 24, 40), (32, 60, 68), (33, 0, 33), (33, 44, 55), (33, 56, 65), (34, 0, 34), (35, 0, 35), (35, 12, 37), (35, 84, 91), (36, 0, 36), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (37, 0, 37), (38, 0, 38), (39, 0, 39), (39, 52, 65), (39, 80, 89), (40, 0, 40), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (41, 0, 41), (42, 0, 42), (42, 40, 58), (42, 56, 70), (43, 0, 43), (44, 0, 44), (44, 33, 55), (45, 0, 45), (45, 24, 51), (45, 28, 53), (45, 60, 75), (46, 0, 46), (47, 0, 47), (48, 0, 48), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (49, 0, 49), (50, 0, 50), (51, 0, 51), (51, 68, 85), (52, 0, 52), (52, 39, 65), (53, 0, 53), (54, 0, 54), (54, 72, 90), (55, 0, 55), (55, 48, 73), (56, 0, 56), (56, 33, 65), (56, 42, 70), (57, 0, 57), (57, 76, 95), (58, 0, 58), (59, 0, 59), (60, 0, 60), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (61, 0, 61), (62, 0, 62), (63, 0, 63), (63, 16, 65), (63, 60, 87), (64, 0, 64), (64, 48, 80), (65, 0, 65), (65, 72, 97), (66, 0, 66), (67, 0, 67), (68, 0, 68), (68, 51, 85), (69, 0, 69), (70, 0, 70), (70, 24, 74), (71, 0, 71), (72, 0, 72), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (73, 0, 73), (74, 0, 74), (75, 0, 75), (75, 40, 85), (76, 0, 76), (76, 57, 95), (77, 0, 77), (77, 36, 85), (78, 0, 78), (79, 0, 79), (80, 0, 80), (80, 18, 82), (80, 39, 89), (81, 0, 81), (82, 0, 82), (83, 0, 83), (84, 0, 84), (84, 13, 85), (84, 35, 91), (85, 0, 85), (86, 0, 86), (87, 0, 87), (88, 0, 88), (89, 0, 89), (90, 0, 90), (91, 0, 91), (92, 0, 92), (93, 0, 93), (94, 0, 94), (95, 0, 95), (96, 0, 96), (97, 0, 97), (98, 0, 98), (99, 0, 99)]

Initializing lists

In [15]:
# Initializing a 4x3 matrix using loops
matrix = []

for j in range(4):  # 4 rows
    row = []
    for i in range(3):  # 3 columns
        row.append(0)
    matrix.append(row)

# Print the matrix
for row in matrix:
    print(row)

[0, 0, 0]
[0, 0, 0]
[0, 0, 0]
[0, 0, 0]

Warnings - list initialization

In [20]:
# Creating a list of zeros
zerolist = [0 for i in range(3)]

# Creating a 4x3 matrix (incorrect way)
l = [zerolist for i in range(4)]  # All rows refer to the same zerolist

# Modifying one element
l[1][1] = 7

# Printing the matrix
print(l)

[[0, 7, 0], [0, 7, 0], [0, 7, 0], [0, 7, 0]]

In [21]:
# Creating a list of zeros
zerolist = [0] * 3

# Creating a 4x3 matrix (incorrect way)
l = [zerolist] * 4  # All rows refer to the same zerolist

# Modifying one element
l[1][1] = 7  # This changes all rows

# Printing the matrix
for row in l:
    print(row)

[0, 7, 0]
[0, 7, 0]
[0, 7, 0]
[0, 7, 0]